/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');


/* Global Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Common Style */
.text-center {
    text-align: center;
}

.secondary-bg {
    background-color: #FFF8F3;

}

.primary-text-color {
    color: #14b673;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    background-color: #14b673;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
    cursor: pointer;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.section-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* Nav Styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;

}

nav li a {
    text-decoration: none;
    font-size: 20px;

}

/* Header */

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 200px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 20px;

}

.banner-description {

    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 30px;
}

.banner-content {
    max-width: 600px;
}

.banner-profile-img {
    width: 584px;
    height: 676px;
}

/* Main */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Section */

.about {
    border-radius: 10px;
    text-align: center;
    margin: 130px auto;
    padding: 130px 150px;

}

.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.item-description {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}


.about-item .item-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}


.skills {
    border-radius: 10px;
    text-align: center;
    margin: 130px auto;

}

.skills-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: start;
}

.skills .section-descripion {
    padding: 0 150px;
}

.skill-title {
    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

.skill-description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-top: 30px;
}


/* Resume */

.resume-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.resume-column-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.experience-title {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.experience-sub-title {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.experience-description {
    color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-bottom: 30px;
}

.resume-column hr {
    margin: 30px 0;
}

.resume-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume {
    margin-bottom: 130px;
}

/* Footer */

footer {
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}

.footer-title {
    color: var(--Dark-01, #181818);
    text-align: left;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-description {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
footer textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}